@media only screen and (max-width: 800px) {
    .dialog-hash-class-asci1kb31r81r13 {
      .layout-wrapper {
        .left-layout, .right-layout {
          width: 100%!important;
        }
      }
    }
}
 
@media only screen and (max-width: 500px) {
    html,
    body {
        font-size: 12px;
        overflow-x: hidden;
    }
    // HEADER
    header {
        .top-bar {
            .container {
                padding: 0 10px!important;
            }
            .el-row {
                padding-top: 1rem;
                flex-direction: column-reverse;
                div {
                    text-align: left;
                }
            }
            .top-nav {
                li {
                    padding: 0 !important;
                }
            }
        }
        .middle-area {
            .el-col-md-15 {
                display: none;
            }
        }

        .header {
            min-height: unset !important;
            padding: 0.8rem 0;

            ul {
                display: none;
            }

            .container {
                display: flex;
                align-items: center;
                justify-content: space-around !important;
            }

            &.show {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 999;
                right: 0;
                bottom: 0;
                ul {
                    display: flex;
                    flex-direction: column;
                    li {
                        min-height: 1rem !important;
                        line-height: 1rem !important;
                        padding: 1.5rem 0 !important;
                    }
                }
                .container {
                    justify-content: left !important;
                }
                .btn-x {
                    position: absolute;
                    top: 1%;
                    right: 2%;
                }
            }
        }
    }
    main {
        margin-top: 1rem;
        padding: 0 !important;
        section > .el-row--flex {
            display: block !important;
        }
    }
    footer h4 {
        font-size: 1.1em !important;
    }
}
